*,*::before,*::after{
  box-sizing: border-box;
}

img {
  // max-width: 100%;
  width: 100%;
  height: auto;
	display: block;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: .5s;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', 'Noto Sans TC', $font-family-sans-serif;
}

small {
  font-size: .875rem;
}
