.footer {
  &__navLink {
    padding: .75rem 1.5rem;
    position: relative;
    margin-right: .25rem;
    @include media-breakpoint-up(lg) {
      padding: 0 1.25rem;
    }
  }
  &__nav li:first-child a {
    padding: .75rem 1.5rem .75rem .25rem;
  }
  @media(min-width: 992px) {
    &__navLink::after {
      content: "";
      border-bottom: 2px solid #fff;
      position: absolute;
      display: block;
      transition: all .3s;
      right: 0;
      bottom: 0;
      width: 0;
    }
    &__navLink:hover::after {
      left: 0;
      width: 100%;
    }
  }
  &__border {
    border-bottom: 1px solid #fff;
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 1rem;
    }
  }
}