.footer {
  &__navLink {
    padding: .6875rem 1.5rem;
    @include media-breakpoint-up(lg) {
      padding: 0 1.25rem;
    }
  }
  &__nav li:first-child a {
    padding-left: 0;
  }
  @media(min-width: 992px) {
    &__navLink::after {
      content: "";
      border-bottom: 2px solid #fff;
      position: relative;
      display: block;
      transition: all .3s;
      margin: auto; /*使線段從中間展開*/
      // right: 0;
      // bottom: 0;
      width: 0%;
      top: 3px;
    }
    &__navLink:hover::after {
      // left: 0;
      width: 100%;
    }
  }
  &__border {
    border-bottom: 1px solid #fff;
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 1rem;
    }
  }
}