.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  padding-right: 5rem;
  padding-left: 5rem;
  &__replaceText {
    background: url(../images/logo.png) no-repeat;
    width: 80px;
    height: 50px;
    display: block; 
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }
  &__nav {
    display: flex;
    font-size: 1.25em;
    line-height: 1.875rem;
  }
}