.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary;
  padding: 1.875rem 5rem;
  @include media-breakpoint-up(lg) {
    padding: 1.875rem 2.5rem;
  }
  @include media-breakpoint-up(md) {
    flex-direction: column;
    padding: 10px 0px 0px 0px;
  }
  &__replaceText {
    background: url(../images/logo.png) no-repeat;
    width: 80px;
    height: 50px;
    display: block; 
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0.625rem;
    }
  }
}