.faq {
  padding-top: 6rem;
  padding-bottom: 8rem;
  @include media-breakpoint-up(lg) {
    padding-top: 3.75rem;
    padding-bottom: 4.5rem;
  }
  @include media-breakpoint-up(md) {
    padding-top: 1.75rem;
    padding-bottom: 2.25rem;
  }
  &__title {
    @include font-set(3rem, 1.5, 700);
    border-left: 8px solid $red-dark;
    padding-left: 1rem;
    margin-bottom: 3.75rem;
    @include media-breakpoint-up(lg) {
      border-width: 4px;
      margin-bottom: 2.5rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 1.75rem;
      margin-bottom: 1.5rem;
    }
  }
}