.banner {
  height: 840px;
  background: url("../images/banner.png") no-repeat center / cover;
  color: $brown;
  &__content {
    text-align: right;
  }
  &__subTitle {
    font-size: 2.25rem;
    line-height: 3.375rem;
    @include media-breakpoint-up(lg) {
      @include font-set(1.25rem, 1.875rem)
    }
    @include media-breakpoint-up(md) {
      @include font-set(1rem)
    }
  }
  &__title {
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 900;
    @include media-breakpoint-up(lg) {
      @include font-set(3rem, 4.5rem)
    }
    @include media-breakpoint-up(md) {
      @include font-set(2rem)
    }
  }
}
.about {
  justify-content: center;
  &__icon {
    font-size: 100px;
    color: $brown;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: 1.5rem;
    color: $brown;
    font-weight: 900;
    line-height: 2.25rem;
    margin-bottom: .5rem;
  }
  &__content {
    max-width: 255px;
    line-height: 1.5rem;
    text-align: left;
    // word-break: break-all;
  }
}
.classicProduct {
  &__img {
    max-height: 320px;
    object-fit: cover;
  }
  &__subTitle {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 4.5rem;
    font-style: italic;
    text-transform: uppercase;
    color: $red;
    @include media-breakpoint-up(lg) {
      @include font-set(1.75rem);
    }
    @include media-breakpoint-up(md) {
      position: absolute;
      justify-content: center;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  &__icon {
    font-size: 44px;
    color: $red;
    margin-right: 0.5rem;
    @include media-breakpoint-up(lg) {
      font-size: 36px;
    }
  }
}
.crossoverProduct {
  background: url("../images/bg.png") no-repeat center / cover;
  &__img {
    position: relative;
    &:hover::after {
      content: '';
      width: 100%;
			height: 100%;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
      filter: blur(15px);
    }
    &::before {
      content: '';
			width: 100%;
			height: 100%;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(255, 255, 255, 0.5);
		}
    &:hover::before {
      content: none;
    }
  }
  &__subTitle {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 72px;
    color: $red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    white-space: nowrap;
    @include media-breakpoint-up(lg) {
      @include font-set(2rem, 1.5625rem)
    }
  }
}
.title {
  @include font-set(3rem, 4.5rem);
  margin-bottom: 2.5rem;
  @include media-breakpoint-up(lg) {
    @include font-set(2rem, 3rem);
    margin-bottom: 2rem;
  }
  @include media-breakpoint-up(md) {
    @include font-set(1.5rem);
    margin-bottom: 1.25rem;
  }
}