@import "reset";

$pink:        #FBF2F2;
$red:         #AA0601;
$break:       #111619;
$brown:       #650300;

$space: (
  "0": 0,
  "1": 0.5rem,   // 8
  "2": 1rem,     // 16
  "3": 1.5rem,   // 24
  "4": 1.875rem, // 30
  "5": 2rem,     // 32
  "6": 2.5rem,   // 40
  "7": 3rem,     // 48
  "8": 3.75rem,  // 60
  "9": 5rem,     // 80
);
$font-size: (
  "1": .875rem,  // 14
  "2": 1.25rem,  // 20
  "3": 1.5rem,   // 24
  "4": 2.25rem,  // 36
  "5": 3rem,     // 48
);

.container {
  // max-width: 1200px;
  max-width: 1110px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.width-m {
  max-width: 255px;
}

@each $key, $value in $space {
  .my-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }
  .mt-#{$key} {
    margin-top: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .mr-#{$key} {
    margin-right: $value;
  }
  .ml-#{$key} {
    margin-left: $value;
  }
  .p-#{$key} {
    padding: $value;
  }
  .pt-#{$key} {
    padding-top: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
}

@each $key, $value in $font-size {
  .fs-#{$key} {
    font-size: $value;
  }
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: .5s;
}

body{
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5rem;
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.flex-row-reverse {
  flex-direction: row-reverse
}
.flex-row{
  flex-direction: row;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}
.text-brown {
  color: $brown;
}
.text-red {
  color: $red;
}
.text-muted {
  color: #6c757d;
}
.bg-red {
  background: $red;
}
.bg-pink {
  background: $pink;
}
.brown-hover:hover {
  background: $brown;
  color: $pink;
}
.pink-hover:hover {
  background: $pink;
  color: $red;
}
.translucent-hover:hover {
  opacity: 0.5;
}
.fw-bolder {
  font-weight: 900;
}
.fw-bold {
  font-weight: 700;
}
.fw-light {
  font-weight: 300;
}
.fst-italic {
  font-style: italic;
}

.replace-text {
  background: url(../images/logo.png) no-repeat;
  width: 80px;
  height: 50px;
  display: block; 
  text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.banner {
  height: 840px;
  background: url("../images/banner.png") no-repeat center / cover;
  color: $brown;
  &__content {
    // max-width: 576px;
    text-align: right;
  }
  &__title {
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 900;
  }
}
.about {
  max-width: 255px;
  &__icon {
    font-size: 100px;
    color: $brown;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: 1.5rem;
    color: $brown;
    font-weight: 900;
    line-height: 2.25rem;
    margin-bottom: .5rem;
  }
  &__content {
    line-height: 1.5rem;
    text-align: left;
  }
}
// .classicProduct {
//   display: flex;
//   align-items: center;
//   margin-bottom: 2rem;
//   &__img {
//     width: 635px;
//     height: 320px;
//     object-fit: cover;
//   }
//   &__title {
//     font-size: 3rem;
//     font-family: 'Roboto', sans-serif;
//     font-weight: 700;
//     font-style: italic;
//     color: $red;
//     margin-left: 2rem;
//     margin-right: 2rem;
//   }
//   &__icon {
//     font-size: 44px;
//     color: $red;
//     vertical-align: top;
//   }
//   &:nth-child(2n) {
//     flex-direction: row-reverse;
//   }
// }
.classicProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  &__img {
    // width: 58.31%;
    width: 635px;
    height: 320px;
    object-fit: cover;
  }
  &__title {
    display: flex;
    align-items: center;
    width: 42.69%;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    line-height: 4.5rem;
    color: $red;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  &__icon {
    font-size: 44px;
    color: $red;
    margin-right: 0.5rem;
  }
  // &:nth-child(2n) {
  //   flex-direction: row-reverse;
  //   justify-content: flex-end;
  // }
}
.crossoverProduct {
  height: 705px;
  background: url("../images/bg.png") no-repeat center / cover;
  &__list {
    background: #fff;
    position: relative;
  }
  &__img {
    width: 540px;
    height: 455px;
    display: block;
    opacity: 0.5;
  }
  &__title {
    font-size: 4.5rem;
    font-weight: 900;
    color: $red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    white-space: nowrap;
  }
}
.card {
  // max-width: 25%;
  max-width: 255px;
  &__body {
    padding: 1rem;
    height: 204px;
    border: 1px solid #DEE2E6;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 .25rem .25rem;
    box-shadow: 0px 2px 6px #00000029;
  }
  &__img {
    // max-width: 255px;
    height: 256px;
    border-radius: .25rem .25rem 0 0;
    object-fit: cover;
    display: block;
  }
  &__text {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    height: calc(100% - 20px); 
    line-height: 1.5rem;
  }
  &__title {
    font-size: 0.875rem;
    line-height: 21px;
    margin-bottom: 0.5rem;
  }
}
.form {
  max-width: 730px;
  margin: 0 auto;
  // padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  // padding-bottom: 80px;
  &__text {
    font-size: 1.25em;
    margin-bottom: 1.25rem;
  }
  &__label {
    margin-bottom: 0.25rem;
  }
  &__control {
    display: block;
    width: 100%;
    // opacity: 0.2;
    border: 1px solid #000;
    background: none;
    outline-color: $red;
    padding: .75rem 1rem .875rem 1rem;
  }
  &__textarea {
    min-height: 136px;
  }
  &__checkbox {
    display: none;
  }
  &__checkbox + &__checkboxSpan {
    display: inline-block;
    background: url(../images/check_box_outline_blank_black_24dp.svg) no-repeat left top;
    cursor: pointer;
    user-select: none; /* 防止文字被滑鼠選取反白 */
    padding-left: 28px;
    margin-bottom: 40px;
  }
  &__checkbox:checked + &__checkboxSpan {
    background: url(../images/check_box_black_24dp.svg) no-repeat left top;
  }
  &__submit {
    // max-width: 350px;
    width: 350px;
    height: 100%;
    line-height: 54px;
    border: none;
    background: $red;
    color: #fff;
  }
  ::placeholder {
    opacity: 0.2;
  }
}
.footer {
  padding-top: 2.75rem;
  padding-bottom: 2.4375em;
  &__nav {
    padding: 0.75em 1.5rem 0.75em 1.5rem;
  }
  &__socialIcon {
    font-size: 48px;
    margin-left: 2rem;
  }
  &__info {
    border-bottom: 1px solid #fff;
    padding-bottom: 0.5rem;
    margin-top: 2.25rem;
    margin-bottom: 2rem;
  }
  &__infoIcon {
    font-size: 3rem;
    vertical-align: middle;
    margin-right: 0.8rem;
  }
}