// 產生 container 所有尺寸樣式
.container, .container-fluid {
  @include make-container();
  max-width: map-get($container-max-widths, "xl");;
}
@each $breakpoint, $container-max-width in $container-max-widths {
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    %responsive-container-#{$breakpoint} {
      max-width: $container-max-width;
    }
    @each $name, $width in $grid-breakpoints {
      .container {
        @extend %responsive-container-#{$breakpoint};
      }
    }
  }
}

// 產生 max-width 所有尺寸樣式
@each $key, $max-width in $max-widths {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      .width#{$infix}-#{$key} {
        max-width: $max-width;
        margin: 0 auto;
      }
    }
  }
}