.image-replace-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.title {
  @include font-set(3rem, $font-weight: 700);
    border-left: 8px solid $red-dark;
    padding-left: 1rem;
    margin-bottom: 3.75rem;
  @include media-breakpoint-up(lg) {
    border-width: 4px;
    margin-bottom: 2.5rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }
}

// hover effect
.pink-hover:hover {
  @media(min-width: 768px) {
    background: $pink;
    color: $red;
  }
}
.translucent-hover:hover {
  opacity: 0.5;
}
.image-zoom-hover {
  @media(min-width: 992px) {
    transition: all 1s ease-out;
    &:hover {
      transition: all 0.5s cubic-bezier(.165, .84, .44, 1);
      transform: scale(1.2);
    }
  }
}
.card-zoom-hover {
  @media(min-width: 992px) {
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s;
    &:hover {
      transform: scale(1.01);
      transition: all 0.5s cubic-bezier(.165, .84, .44, 1);
      box-shadow: $box-shadow-lg;
    }
  }
}
.underline-center-hover {
  position: relative;
  @media(min-width: 992px) {
    &::after {
      content: "";
      border-bottom: 2px solid #fff;
      position: absolute;
      display: block;
      transition: all .5s;
      height: .2rem;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
.underline-hover {
  position: relative;
  @media(min-width: 992px) {
    &::after {
      content: "";
      border-bottom: 2px solid #fff;
      position: absolute;
      display: block;
      transition: all .3s;
      right: 0;
      bottom: 0;
      width: 0;
    }
    &:hover::after {
      left: 0;
      width: 100%;
    }
  }
}
//border
.remove-middle-line {
  li + li{
    border-left: none;
  }
}
//google map
.googleMap {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 66.48%;
  iframe{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}