.breadcrumb{
  padding-top: .5rem;
  display: flex;
  flex-wrap: wrap;
}
.breadcrumb-item {
  display: flex;

  + .breadcrumb-item {
    padding-left: 0.5rem;
    &::before {
      // float: left;
      display: inline-block;
      color: $black;
      content: "/";
      padding-right: .5rem;
    }
  }
  &.active a{
    color: $primary;
  }
}