.form {
  max-width: 730px;
  margin: 0 auto;
  // padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  // padding-bottom: 80px;
  &__text {
    font-size: 1.25em;
    margin-bottom: 1.25rem;
  }
  &__label {
    margin-bottom: 0.25rem;
  }
  &__control {
    display: block;
    width: 100%;
    border: 1px solid #000;
    background: none;
    outline-color: $red;
    padding: .75rem 1rem .875rem 1rem;
  }
  &__textarea {
    min-height: 136px;
  }
  &__checkbox {
    display: none;
  }
  &__checkbox + &__checkboxSpan {
    display: inline-block;
    background: url(../images/check_box_outline_blank_black_24dp.svg) no-repeat left top;
    cursor: pointer;
    user-select: none; /* 防止文字被滑鼠選取反白 */
    padding-left: 28px;
    margin-bottom: 40px;
  }
  &__checkbox:checked + &__checkboxSpan {
    background: url(../images/check_box_black_24dp.svg) no-repeat left top;
  }
  &__submit {
    // max-width: 350px;
    width: 350px;
    height: 100%;
    line-height: 54px;
    border: none;
    background: $red;
    color: #fff;
  }
  ::placeholder {
    opacity: 0.2;
  }
}