.brown-hover:hover {
  background: $brown;
  color: $pink;
}
.pink-hover:hover {
  @media(min-width: 768px) {
    background: $pink;
    color: $red;
  }
}
.translucent-hover:hover {
  opacity: 0.5;
}
// .img-zoom {
//   width: 100%;
//   height: auto;
//   object-fit: cover;
// }
// @media(min-width: 992px) {
//   .img-zoom {
//     transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s;
//   }
//   .img-zoom:hover {
//     transform: scale(1.01);
//     transition: all 0.5s cubic-bezier(.165, .84, .44, 1);
//     box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
//   }
// }