.brown-hover:hover {
  background: $brown;
  color: $pink;
}
.pink-hover:hover {
  @media(min-width: 768px) {
    background: $pink;
    color: $red;
  }
}
.translucent-hover:hover {
  opacity: 0.5;
}