.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  &.first-child li:first-child .nav-link{
    padding-left: 0;
  }
}
// .nav-item {}
.nav-link {
  padding: .5625rem 2rem;
  font-size: 1.25rem;
}