.nav {
  display: flex;
  flex-wrap: wrap;
  @include font-set(1.25rem, 1.875rem);
  &__item {
    @include media-breakpoint-up(md) {
      width: 50%;
      text-align: center;
      border: 1px solid #fff;
    }
  }
  &__link {
    padding: .5625rem 2rem;
    @include media-breakpoint-up(lg) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    @include media-breakpoint-up(md) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}